@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Overpass:wght@200&display=swap');

body {
    padding: 0 0%;
    margin: 0;
    font-family: 'Overpass', sans-serif;
    color : white;
    background-color: #121214;
}
nav {
    padding: 0 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #202024;
    position: sticky;
    top: O;

}
nav .profile {
    display: flex;
    align-items: center;

}

nav .profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;

}
nav .profile h1 {
    margin-left: 10px;
    font-size: 15px;

}

nav ul {
    display: flex;
    list-style-type: none;
}
nav ul a  {
    margin-left: 20px;
    cursor: pointer;
    border-bottom: 1px solid white;
    color: white;
}
nav ul a li:hover {
    border-bottom-color: #5329cf;
    color: #5329cf;
    
}
.page-content {
    margin: 4%;
}
.page-content header {
    margin-top: 5%;
    max-width: 80%;
    font-family: 'Oswald', 'sans-serif';
    font-size: 5vw;
}

.page-content header h1 {
    margin: 0;
    text-transform: uppercase;
}
.page-content header p {
	color: #818181;
    font-size: 50px;
}
.page-content header button {
    background-color: #5329cf;
	border: none;
	outline: none;
	padding: 0;
	font-size: 15px;
	font-weight: bold;
    padding: 12px 40px 12px 40px;
	cursor: pointer;
    color: white;
    position: absolute;
    left: 650px;
    top: 450px;
    border-radius: 7px;
}
.page-content header button img {
    width: 24px;
    height: 24px;
    padding-right: 10px;
    text-align: center;
}
.page-content .presentation-image {
    margin-top: 5%;

}
.page-content .presentation-image img {
    max-width: 30%;
    height: 30%;
    transition: filter 0.5s;
    position: absolute;
    left: 900px;
    top: 150px;
}
.page-content .presentation-image img:hover {
    filter: brightness(50%);

}

.page-content .projects-section {
	margin-top: 0%;
}
.page-content .projects-section h1 {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-size: 3vw;
}


.page-content .projects-section .projects {
	display: flex;
	flex-wrap: wrap;
}
.page-content .projects-section .project {
	margin-right: 20px;
	max-width: 195px;
}
.page-content .projects-section .project h4 {
	margin: 0;
    font-size: 20px;
    color: #fff;
}
.page-content .projects-section .project .description {
	font-size: 15px;
}
.page-content .projects-section .project .dates {
	font-size: 12px;
	color: rgb(145, 145, 145);
}
footer {
	margin-top: 5%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 10px;
	background-color: #202024;
	color: white;
}
footer .colonne p {
	font-size: 12px;
	color: #ccc;
	cursor: pointer;
}
footer .colonne p:hover {
	color: #fff;
}
@media screen and (max-width: 700px){
    nav {
        justify-content: center;

    }
    nav ul {
        display: none;
    }
    .page-content header {
        margin-top: 10%;
        max-width: 100%;
        
    }
    .page-content .projects-section {
		margin-top: 15%;
	}
	.page-content .projects-section h1 {
		font-size: 1.5em;
	}
	.page-content .projects-section .project {
		margin-right: 0;
		margin-bottom: 20px;
		max-width: 100%;
	}
	.page-content .projects-section .project .description {
		font-size: 13px;
	}
    footer {
		justify-content: flex-start;
	}
	footer .column {
		width: 80%;
	}
}

    